<div class="main">
  <div class="header">menu</div>
  <!--SAMGY-->
  <div class="menu">
    <div class="menu-title">Unlimited Samgy!</div>
    <div class="caption">Maximum of 1 1/2 hours</div>
    <div class="caption">Strictly no left-overs</div>
    <div class="menu-items">
      <div class="menu-item">
        <div class="item-title">unlimited pork and chicken samgy</div>
        <div class="item-caption">
          Set includes unlimited serving of pork and chicken, 3 variants of
          sides, green lettuce and unlimited rice.
        </div>
        <div class="item-price">299.00/head</div>
      </div>
      <div class="menu-item">
        <div class="item-title">unlimited beef and chicken samgy</div>
        <div class="item-caption">
          Set includes unlimited serving of beef and chicken, 3 variants of
          sides, green lettuce and unlimited rice.
        </div>
        <div class="item-price">299.00/head</div>
      </div>
      <div class="menu-item">
        <div class="item-title">unlimited pork and beef samgy</div>
        <div class="item-caption">
          Set includes unlimited serving of pork and beef, 3 variants of sides,
          green lettuce and unlimited rice.
        </div>
        <div class="item-price">299.00/head</div>
      </div>
    </div>
  </div>

  <!--PASTARITAS-->
  <div class="menu">
    <div class="menu-title">Pastaritas</div>
    <div class="menu-items">
      <div class="menu-item">
        <div class="item-title">Spaghetti</div>
        <div class="item-caption">
          Fluffy pasta in creamy tomato sauce.
        </div>
        <div class="item-price">80.00</div>
      </div>
      <div class="menu-item">
        <div class="item-title">Tuna Carbonara</div>
        <div class="item-caption">
          Tasty tuna flakes in creamy, white sauce.
        </div>
        <div class="item-price">80.00</div>
      </div>
      <div class="menu-item">
        <div class="item-title">Lasagna</div>
        <div class="item-caption">
          Classic pasta.
        </div>
        <div class="item-price">90.00</div>
      </div>
      <div class="menu-item">
        <div class="item-title">Mac N' Cheese</div>
        <div class="item-caption">
          Sauce-y and Cheese-y.
        </div>
        <div class="item-price">90.00</div>
      </div>
    </div>
  </div>

  <!--TOSTATOS-->
  <div class="menu">
    <div class="menu-title">Tostatos</div>
    <div class="menu-items">
      <div class="menu-item">
        <div class="item-title">Buttered Bread</div>
        <div class="item-caption">
          Bread with butter and sugar? Why not?
        </div>
        <div class="item-price">90.00</div>
      </div>
      <div class="menu-item">
        <div class="item-title">Garlic Bread</div>
        <div class="item-caption">
          Satisfy your cravings with out very own homemade garlic bread.
        </div>
        <div class="item-price">90.00</div>
      </div>
    </div>
  </div>

  <div class="drinks">
    <div class="title">Drinks</div>
    <div class="drink-row">
      <div class="title">GM Milk Tea</div>
      <div class="price-title">
        <span>Tall</span>
        <span>Grande</span>
      </div>
    </div>
    <div class="drink-row" *ngFor="let drink of gmMilkTea">
      <div class="drink-name">{{ drink.name }}</div>
      <div class="drink-price">
        <span>{{ drink.tallPrice }}</span>
        <span>{{ drink.grandePrice }}</span>
      </div>
    </div>
    <div class="drink-row">
      <div class="title">YG Fruit Tea</div>
      <div class="price-title">
        <span>Tall</span>
        <span>Grande</span>
      </div>
    </div>
    <div class="drink-row" *ngFor="let drink of ygFruitTea">
      <div class="drink-name">{{ drink.name }}</div>
      <div class="drink-price">
        <span>{{ drink.tallPrice }}</span>
        <span>{{ drink.grandePrice }}</span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
