<div class="main">
  <div class="header">about us</div>
  <div class="about">
    <div class="image">
      <img src="./assets/images/background.jpg" />
    </div>
    <div class="description">
      <div class="text">
        <div class="subheader">
          Welcome to <span class="header-text">Masissneun</span>
        </div>
        <div class="caption">little story</div>
        <p class="body-text" align="center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          auctor suscipit feugiat. Ut at pellentesque ante, sed convallis arcu.
          Nullam facilisis, eros in eleifend luctus, odio ante sodales augue,
          eget lacinia lectus erat et sem. Sed semper orci sit amet porta
          placerat. Etiam quis finibus eros. Sed aliquam metus lorem, a
          pellentesque tellus pretium a. Nulla placerat elit in justo
          vestibulum, et maximus sem pulvinar.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
