<div class="main">
  <div class="header">about us</div>
  <div class="about">
    <div class="image">
      <img src="./assets/images/background.jpg" />
    </div>
    <div class="description">
      <div class="text">
        <div class="subheader">
          Welcome to <span class="header-text">Masissneun</span>
        </div>
        <div class="caption">little story</div>
        <p class="body-text" align="center">
        Owner of the company habit of eating Korean foods and samgyupsal. 
	So they created the Masissneun restaurant because they love eating Samgyupsal. 
	Since then they decided to start a business which is restaurant. 
	Owner think that instead of eating to the famous samgyupsal
	“why not we start our own samgyupsal restaurant and make a different set of menus’”. 
	Since millennial’s are love eating samgyupsal and drinking tea. 
	And because of the trends they inspired to serve also a milk 
	tea which is also one of the trends in social media.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
