.row {
  height: 60vh;
}

.outlined {
  border: #000000 0.2vh solid;
  color: #000000;
  height: 6vh;
  width: 10vw;
  font-size: 2vh;
  transition: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  &:hover {
    color: #ffffff;
    background-color: #000000;
  }
}
