<div class="main">
  <div class="subheader">contact us</div>
  <div class="caption">hello, contact us!</div>
  <div class="form">
    <input type="text" placeholder="Your Name" />
    <input type="text" placeholder="Your Email" />
    <textarea
      id="w3mission"
      rows="4"
      cols="50"
      placeholder="Your Message"
    ></textarea>
  </div>

  <button class="outlined">send message</button>
  <div class="contact-strip">
    <div class="contact-option">
      <div class="contact-image">
        <img src="./assets/icons/phone.png" />
      </div>
      <div class="contact-body">
        <div class="contact-title">Phone</div>
        <div class="contact-text">+01 123-456-4590</div>
      </div>
    </div>

    <div class="contact-option">
      <div class="contact-image">
        <img src="./assets/icons/email.png" />
      </div>
      <div class="contact-body">
        <div class="contact-title">Email</div>
        <div class="contact-text">yourmail@gmail.com</div>
      </div>
    </div>

    <div class="contact-option">
      <div class="contact-image">
        <img src="./assets/icons/placeholder.png" />
      </div>
      <div class="contact-body">
        <div class="contact-title">Location</div>
        <div class="contact-text">Makati</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
