nav {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  display: flex;
  align-items: center;
  height: 13vh;
  width: 100vw;
  background-color: #ffffff;
  padding: 0 20%;
  top: 0;

  a {
    text-decoration: none;
    color: #000000;
    margin-left: 0.25vw;
    font-size: 2vh;
    padding: 1vh 1vw;
    border-radius: 6px;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    &:hover {
      cursor: pointer;
      background-color: var(--primary-clr);
      color: #ffffff;
    }
  }
}

.logo {
  font-size: 4vh;
  color: var(--primary-clr);
}

.links {
  margin-left: auto;
  display: flex;
}

.body {
  margin-top: 13vh;
  height: 87vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
