<nav>
  <div class="row">
    <div class="logo no-select" [routerLink]="['/welcome']">Masissneun</div>
  </div>
  <div class="row">
    <div class="links">
      <a [routerLink]="['/welcome']" [routerLinkActive]="['active-link']"
        >Home</a
      >
      <a [routerLink]="['/menus']" [routerLinkActive]="['active-link']"
        >Menus</a
      >
      <a [routerLink]="['/contact']" [routerLinkActive]="['active-link']"
        >Contact</a
      >
    </div>
  </div>
</nav>
<div class="body" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
