<nav>
  <div class="logo no-select" [routerLink]="['/welcome']">Masissneun</div>
  <div class="links">
    <a [routerLink]="['/welcome']" [routerLinkActive]="['active-link']">Home</a>
    <a [routerLink]="['/menus']" [routerLinkActive]="['active-link']">Menu</a>
    <a [routerLink]="['/reservation']" [routerLinkActive]="['active-link']"
      >Reservation</a
    >
    <a [routerLink]="['/about']" [routerLinkActive]="['active-link']">About</a>
    <a [routerLink]="['/contact']" [routerLinkActive]="['active-link']"
      >Contact</a
    >
  </div>
</nav>
<div class="body" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
