<div class="main">
  <div class="main-top">
    <img
      [src]="[carouselSrc]"
      alt="best-seller picture"
      class="carousel"
      [@opacityChange]="fadeOut ? 'fadeOut' : 'fadeIn'"
    />
    <div class="logo">Masissneun</div>
    <!-- <div class="best">
      <div class="subheader">Check our best sellers!</div>
      <img [src]="[carouselSrc]" alt="best-seller picture" />
      <div class="carousel-buttons">
        <button
          (click)="changeCarouselImage('./assets/images/showcase-1.jpg')"
        ></button>
        <button
          (click)="changeCarouselImage('./assets/images/showcase-2.jpg')"
        ></button>
        <button
          (click)="changeCarouselImage('./assets/images/showcase-3.jpg')"
        ></button>
        <button
          (click)="changeCarouselImage('./assets/images/showcase-4.jpg')"
        ></button>
        <button
          (click)="changeCarouselImage('./assets/images/showcase-5.jpg')"
        ></button>
        <button
          (click)="changeCarouselImage('./assets/images/showcase-6.jpg')"
        ></button>
      </div>
    </div> -->
    <div class="buttons">
      <button class="outlined" [routerLink]="['/menus']">See Menu</button>
      <button class="outlined" [routerLink]="['/contact']">
        Contact Us
      </button>
      <!--<button class="outlined" [routerLink]="['/contact']">Reservations</button>-->
    </div>
    <div class="carousel-buttons">
      <button
        [class.carousel-selected]="carouselImage == 1"
        (click)="changeCarouselImage('./assets/images/showcase-1.jpg', 1)"
      ></button>
      <button
        [class.carousel-selected]="carouselImage == 2"
        (click)="changeCarouselImage('./assets/images/showcase-2.jpg', 2)"
      ></button>
      <button
        [class.carousel-selected]="carouselImage == 3"
        (click)="changeCarouselImage('./assets/images/showcase-3.jpg', 3)"
      ></button>
      <button
        [class.carousel-selected]="carouselImage == 4"
        (click)="changeCarouselImage('./assets/images/showcase-4.jpg', 4)"
      ></button>
      <button
        [class.carousel-selected]="carouselImage == 5"
        (click)="changeCarouselImage('./assets/images/showcase-5.jpg', 5)"
      ></button>
      <button
        [class.carousel-selected]="carouselImage == 6"
        (click)="changeCarouselImage('./assets/images/showcase-6.jpg', 6)"
      ></button>
    </div>
  </div>
  <div class="main-bottom">
    bottom part
  </div>
</div>
