p {
  margin-bottom: 5rem;
}

.main {
  background-image: url('src/assets/images/background.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 10vh;
}

.logo {
  font-size: 15vh;
  color: #ffffff;
}

.buttons {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

button {
  height: 6vh;
  width: 10vw;
  font-size: 2vh;
}
