:root {
  --main-height: 87vh;
  --primary-clr: #d8192d;
  --light-black: #4d4d4d;
  --border-clr: #c7c1c1;
  --flat-white: #ecf0f1;
  --flat-black: #262626;
}

@font-face {
  font-family: 'logoFont';
  src: url('assets/fonts/Yellowtail/Yellowtail-Regular.ttf');
}

@font-face {
  font-family: 'bodyFont';
  src: url('assets/fonts/Sanchez/Sanchez-Regular.ttf');
}

@font-face {
  font-family: 'titleFont';
  src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: titleFont;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: bodyFont;
  box-sizing: border-box;
}

.logo {
  font-family: 'logoFont';
  outline: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  height: auto;
  min-height: var(--main-height);
  width: 100vw;
}

.stroke {
  -webkit-text-stroke: 0.2vh black;
}

button {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75vh;
  font-family: titleFont;

  &.outlined {
    background: none;
    border: #ffffff 0.2vh solid;
    color: #ffffff;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    &:hover {
      color: #000000;
      background-color: #ffffff;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.header {
  background-color: #ffffff;
  width: 100%;
  /*height: 10vh;*/
  padding: 4vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: titleFont;
  letter-spacing: 0.2vh;
  font-size: 4vh;
}

.subheader {
  text-transform: uppercase;
  font-family: titleFont;
  margin: 1vh 0;
  font-size: 2.5vh;
}

.caption {
  text-transform: capitalize;
  font-size: 1.5vh;
  margin: 0.5vh 0;
  font-family: bodyFont;
  color: #4d4d4d;
}

.body-text {
  font-family: bodyFont;
  font-size: 1.75vh;
}

.row {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60vh;
}

.row-block {
  height: 80%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 2vh 5vh;

  .title {
    font-size: 2.5vh;
    font-family: titleFont;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
  }
  .body {
    font-size: 1.75vh;
    font-family: bodyFont;
  }

  &.no-padding {
    padding: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
  align-items: center;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

textarea {
  width: 100%;
  outline: none;
  font-family: bodyFont;
  background: none;
  margin-bottom: 2vh;
  border: var(--border-clr) 0.1vh solid;
  font-size: 1.75vh;
  height: fit-content;
  padding: 1vh 0.5vw;
  resize: vertical;
  min-height: 5vh;
}

input {
  width: 100%;
  outline: none;
  font-family: bodyFont;
  background: none;
  margin-bottom: 2vh;
  &[type='text'],
  &[type='date'],
  &[type='time'] {
    border: var(--border-clr) 0.1vh solid;
    font-size: 1.75vh;
    height: fit-content;
    padding: 1vh 0.5vw;
  }
}
