<div class="footer">
  <div class="top-footer">
    <div class="footer-section">
      <div class="footer-title">
        About us
      </div>
      <div class="footer-body">
        <span
          >Masissneun came from the Korean word (mas-ssineun eumsig)
	 means delicious food. Masissneun is a word of Hangul.
	Masissneun restaurant inspired by Korean culture where K-POP has been adopted. 
	Named of their menu’s and drinks came from the famous K-POP group and celebrity.</span
        >
      </div>
    </div>
    <div class="footer-section">
      <div class="footer-title">
        Opening Hours
      </div>
      <div class="footer-body">
        <span>Monday: Closed</span>
        <span>Tue-Wed : 9:Am - 10PM</span>
        <span>Thu-Fri : 9:Am - 10PM</span>
        <span>Sat-Sun : 5:PM - 10PM</span>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    All Rights Reserved. © 2020
    <div class="highlight">Masissneun</div>
  </div>
</div>
