<div class="footer">
  <div class="top-footer">
    <div class="footer-section">
      <div class="footer-title">
        About us
      </div>
      <div class="footer-body">
        <span
          >Integer cursus scelerisque ipsum id efficitur. Donec a dui fringilla,
          gravida lorem ac, semper magna. Aenean rhoncus ac lectus a interdum.
          Vivamus semper posuere dui, at ornare turpis ultrices sit amet. Nulla
          cursus lorem ut nisi porta, ac eleifend arcu ultrices.</span
        >
      </div>
    </div>
    <div class="footer-section">
      <div class="footer-title">
        Opening Hours
      </div>
      <div class="footer-body">
        <span>Monday: Closed</span>
        <span>Tue-Wed : 9:Am - 10PM</span>
        <span>Thu-Fri : 9:Am - 10PM</span>
        <span>Sat-Sun : 5:PM - 10PM</span>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    All Rights Reserved. © 2020
    <div class="highlight">Masissneun</div>
  </div>
</div>
